/* Created by Wender Thomas at May 3rd 2022 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, sans-serif;   
    color: rgb(226, 222, 222);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    
}

header ul li {
    padding: 10px;
}

body {
    height: 110vh;
    background: linear-gradient(180deg, darkslategray , rgb(0, 0, 0) );
}

.container {
    text-align: center;
}
.container h1 {
    font-size: 60px;
}

.container h5 {
    font-size: 15px;
}

#about p{
    max-width: 500px;
    margin: 0 auto;
}

.form {
    width: 40%;
    margin: 0 auto;
}

.form input {
    width: 50%;
}

.form button {
    width: 15%;
    background-color: darkslategray;
}