/* Created by Wender Thomas at May 3rd 2022 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, sans-serif;   
    color: rgb(226, 222, 222);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

header div img {
    height: 60px;
}
header ul {
    display: flex;
    justify-content: space-evenly;
    padding-left: 100px;
}

header ul li {
    padding: 10px;
    border-right:  1px solid snow;
}

header ul li:last-child {
    padding: 10px;
    border-right: 0px solid snow;
}

header ul li a:hover {
    color: darkcyan;
    text-decoration: underline;
}

body {
    height: 110vh;
    background: linear-gradient(180deg, darkslategray , rgb(0, 0, 0) );
}

.container {
    text-align: center;
}
.container h1 {
    font-size: 60px;
}

.container h5 {
    font-size: 15px;
}

#arrow {
    font-size: 20px;
    cursor: pointer;
    animation: grow 1s steps(2, start) infinite;
    max-height: 25px;
}

@keyframes grow {
    to {
        font-size: 25px;
    }
}

.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}

.showup {
    display: block !important;
    transition: 300ms;
}

#giro {
    transition: 300ms;
}

#about p{
    max-width: 500px;
    margin: 0 auto;
}

hr {
    margin: 10px;
}

.form {
    width: 40%;
    margin: 0 auto;
}

.form input {
    width: 50%;
    height: 20px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    margin-top: 10px;
}

.form button {
    width: 15%;
    height: 20px;
    background-color: darkslategray;
    cursor: pointer;
    border: none;
    border-radius: 0px 5px 5px 0px;
    margin-left: -3px;
}

.form button:hover {
    background-color: darkcyan;
}